{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div id="app"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ vite_entry_script_tags('app',{dependency: 'vue'}) }}

{% endblock %}
