@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: only dark;
    font-family: 'Ubuntu Mono', monospace;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 1.5rem;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  a {
    display: block;
    padding: 0 0.375rem;
    opacity: 50%;
    transition: all 200ms ease-out;
    outline: none;
  }

  a:hover,
  a:focus {
    opacity: 100%;
  }
}
